.single-product .fas{
    color: #edf109;
    font-size: 16px;
}

.single-product .far{
    font-size: 16px;
}

.single-product img{
    width: 200px;
}



/*.product-images img{
    width: 50px;
    margin-bottom: 8px;
}*/