@media screen and (max-width: 576px){
    .cart{
        
        height: 100vh;
        top: 0;
        right: 0px;
    }
}

@media screen and (min-width: 576px){
    .cart{
        height: 80vh;
        right: 0;
        top: 60px;
    }
}

.cart{
    
    position: absolute;
    
    background-color: black;
    color: white;
    z-index: 1;
    transition: 0.3s;
}

.cart-img{
    
     
    
}


.cart i, .cart-price-qty{
    font-size: 13px;
}

.cart-items{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-items-section{
    height: 80%;
    overflow-y: auto;
}

.cart .my-divider{
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    
}

i.hide-cart{
    font-size: 60px;
    cursor: pointer;
}