@media screen and (max-width: 576px){
    .footer-container{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px){
    .social-section{
        padding: 0 15px;
    }
}

.footer h3{
    border-bottom: 3px solid black;
}

.footer i{
    font-size: 70px;
}

.social{
    column-gap: 90px;
    row-gap: 40px;
}