/*-------------------------------------------------------------------------------------------------------------
                  *   *   *   *   *    SECTION   *   *   *   *   *
-------------------------------------------------------------------------------------------------------------*/




/*
@media screen and (max-width: 600px) {
    nav{
        
        text-align: center;
        
    }
    .site-logo{
        
        
        display: none;
    }
    ul{
        gap: 0px;
        width: 100%;
        
    }
    li a{
        background-color: black;
        display: block;
        width: 100%;
    }
    li a:hover{
        background-color: darkgray;
    }
    
  }*/
