@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");

body{
    font-family: "lato";
}

.custom-bg{
    background-color: rgb(221, 84, 84);
}

.custom-color{
    color: rgb(221, 84, 84);
}