/*-------------------------------------------------------------------------------------------------------------
                  *   *   *   *   *    SECTION   *   *   *   *   *
-------------------------------------------------------------------------------------------------------------*/


nav a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navbar-nav .link:hover{
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.site-title{
    font-size: 25px;
}

@media screen and (max-width: 576px){
    .navbar-nav{
        text-align: center;
    }
    .navbar-nav a{
        color: black;
        background-color: antiquewhite;
        margin: 4px 0;
        border-radius: 4px;
    }
}

.cart{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: gray;
    
}

.cart i{
    font-size: 13px;
}

/*
@media screen and (max-width: 600px) {
    nav{
        
        text-align: center;
        
    }
    .site-logo{
        
        
        display: none;
    }
    ul{
        gap: 0px;
        width: 100%;
        
    }
    li a{
        background-color: black;
        display: block;
        width: 100%;
    }
    li a:hover{
        background-color: darkgray;
    }
    
  }*/
